
.center{

    border: 20px solid rgb(223, 175, 214);
    width: 30vw;
margin: 60px auto;
background-color: rgb(255, 255, 255);
   padding: 2%;
text-align:center

}


p {
    font-family: 'Shadows Into Light', cursive;
}
body{
    background-color:rgb(235, 196, 228)
}


.strawberry{

    border: 20px solid rgb(223, 175, 214);
    width: 35vw;
    margin: 40px auto;
    background-color: azure;
       padding: 2%;
    text-align:center

}
.thing {

    position: absolute;
    top: 60px ;
    right: 540px;
    width: 5vw;
}
